.wrapper {
	max-width:480px;
	margin:0;
}

h1 { margin-left:0}

nav, section, header {
	font-size:90%;
	margin-left:10px;
}

nav.secondary {
	padding-top:10px;
	margin-left:10px;
}

.unit.size1of5 {
	margin-bottom:10px;
}

.unit.size4of5 {
	margin-top:10px;
}

.primary .navLink {
	margin-left:0;
	margin-right:10px;
}