/* typography */
@import url(typography.css);

/* grids */
@import url(grids.css);


/* modules */
@import url(mod.css);


/* presentational classes */

.inline li {
	display:inline;
	position: relative;
}

.hidden {
	text-indent:-9999px;
	position:absolute;
}

/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}

/* end presentational classes */

/* Site specific styles start here */