<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]--> 
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
	<head>
		<title>SPIL boilerplate</title>
		
		<!-- jquery from Google CDN -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
		
			
		<!-- mobile etc. devices: courtesy of 320+Up: http://stuffandnonsense.co.uk/projects/320andup/ -->
		<!-- For Nokia -->
		<!--link rel="shortcut icon" href="assets/images/apple-touch-icon.png" /-->
		<!-- For everything else -->
		<link rel="shortcut icon" href="../assets/images/favicon.ico" />

		<!--iOS. Delete if not required -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<link rel="apple-touch-startup-image" href="../assets/images/splash.png" />

		<!--Microsoft. Delete if not required -->
		<meta http-equiv="cleartype" content="on" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE6" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		
		<link rel="stylesheet" type="text/css" href="../assets/styles/base.css" />
		<link rel="stylesheet" type="text/css" href="../assets/styles/site.css" />
		
		
		<!-- Modernizr: this should be called AFTER CSS to avoid FOUC
			For dev purposes use /_a/s/libs/modernizr-dev.js
		 -->
		<script src="../assets/scripts/libs/modernizr-dev.js"></script>
		
		<script src="../assets/scripts/config.js"></script>
		
		
		
	</head>
	
	<body>
		
		<div class="hidden">
			<ul>
				<li><a href="#content-section">Skip to content</a></li>
				<li><a href="#local-navigation">Skip to local navigation</a></li>
				<li><a href="#main-navigation">Skip to main navigation</a></li>
			</ul>
		</div>
		
		<div class="wrapper">
			<div class="line">
				<div class="unit size1of1">
					<header id="header-section" class="headerSection">
						<h1 class="headerLogo">SPIL boilerplate</h1>
						<h2 class="headerStrapline">Simplified Presentation and Interface Layer</h2>
					</header>
				</div>
			</div>
			
			<div class="line">
				<nav class="primary unit size1of1" id="main-navigation">
					<ul class="inline">
						<li><a class="navLink first selected" href="#">Home</a></li>
						<li><a class="navLink" href="#">Link 2</a></li>
						<li><a class="navLink last" href="#">Link 3</a></li>						
					</ul>
				</nav>
			</div>
			
			<div id="content-section" class="line">
				<div class="unit size1of1">
					<article class="content">
						<section>
							<p>One large column (.unit.size1of1).</p>
						</section>
					</article>
				</div><!-- end first unit -->
			
				
			</div><!-- end contentSection -->
			
			<footer class="footerSection" id="footer">
				<p>This is the footer.</p>
			</footer>
			
			
			
		</div>
	
		
	</body>
</html>